<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="utf-8"/>
    <title>Admin</title>
    <meta name="description" content="overview &amp; stats"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/menu.css}"/>
</head>
<body>
<div class="container-fluid">
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <img src="/img/favicon.ico" height="100%"/>
                </a>
                <a class="navbar-brand" href="#">后台管理系统</a>
            </div>
            <div class="collapse navbar-collapse" id="example-navbar-collapse">
                <div class="navbar-nav navbar-right">
                    <a class="navbar-text">欢迎您,admin</a>
                    <a class="navbar-text" href="#">安全退出</a>                  
                </div>
            </div>
        </div>
    </nav>
    <div class="row">
        <div class="col-md-2">
            <div class="panel-group" id="accordionMenu" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordionMenu" href="#collapseOne"
                               aria-expanded="true" aria-controls="collapseOne">
                                <span class="glyphicon glyphicon-th-large"></span>系统管理
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel"
                         aria-labelledby="headingOne">
                        <div class="panel-body">
                            <ul class="nav">
                                <li><a href="#" onclick="add('2','用户管理','/user/index')"><i
                                        class="glyphicon glyphicon-user"></i>用户管理</a></li>
                                <li><a href="#" onclick="add('3','菜单管理','/menu/menuList')"><i
                                        class="glyphicon glyphicon-th-list"></i>菜单管理</a></li>
                                <li><a href="#"><i class="glyphicon glyphicon-asterisk"></i>角色管理</a></li>
                                <li><a href="#"><i class="glyphicon glyphicon-edit"></i>修改密码</a></li>
                                <li><a href="#" onclick="add('6','日志查看','/sysLog/sysLogList')">
                                    <i class="glyphicon glyphicon-eye-open"></i>日志查看</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordionMenu"
                               href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <span class="glyphicon glyphicon-wrench"></span>系统工具
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">
                            <ul class="nav">
                                <li><a href="#" onclick="add('7','商品秒杀','/goods/goodslist')">商品秒杀</a></li>
                                <li><a href="#">在线用户</a></li>
                                <li><a href="#">定时任务</a></li>
                                <li><a href="#">数据监控</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-10">
            <!-- 此处是相关代码 -->
            <ul class="nav nav-tabs" role="tablist">
            </ul>
            <div class="tab-content">
            </div>
            <!-- 相关代码结束 -->
        </div>
    </div>
</div>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/plugins/bootstrap-closable-tab/bootstrap-closable-tab.js}"></script>
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<script>
    $(function () {
        var item = {'id': '1', 'name': '首页', 'url': '/home/main', 'closable': false};
        closableTab.addTab(item);
    });

    function add(id, name, url) {
        var closable = 1;
        var item = {'id': id, 'name': name, 'url': url, 'closable': closable == 1 ? true : false};
        closableTab.addTab(item);
    }
</script>
</body>
</html>