<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lin.sysmanage.dao.GoodsMapper">	
	<update id="updateGoods">
		UPDATE goods
		<set>
			<if test="goodsName != null">`goods_name` = #{goodsName}, </if>
			<if test="count != null">`count` = #{count}, </if>
			<if test="sale != null">`sale` = #{sale}, </if>
			<if test="version != null">`version` = #{version}</if>
		</set>
		WHERE
		id = #{id}
	</update>

	<update id="updateGoodsByOptimistic" parameterType="com.lin.sysmanage.entity.GoodsEntity">
		update goods
		<set>
			sale = sale + 1,
			version1 = version1 + 1,
		</set>
		WHERE id = #{id,jdbcType=INTEGER}
		AND version1 = #{version1,jdbcType=INTEGER}
	</update>
	<select id="getGoodsById" resultType="com.lin.sysmanage.entity.GoodsEntity">
		SELECT
			`id`, 
			`goods_name` as 'goodsName', 
			`count`, 
			`sale`, 
			`version`,
			`version1`
		FROM
			goods
		WHERE
			id = #{id}

	</select>
</mapper>